/*	Robert Cody Farrah
	VFW Project 2
	Term 1111
*/

html {
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center center fixed;
	        -webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        background-size: cover;
	 letter-spacing: .01px;	
}

body {
	font-family: "Palatino Linotype", "Times New Roman", "Courier New", sans-serif;
	font-size: 14px;
	margin-left: 30px;
	
}

nav a{
	text-decoration: none;
	color: white;
}

h1 {
	font-family: Redressed, "Palatino Linotype", "Times New Roman", sans-serif;
	font-weight: bold;
	font-size: 35px;
	color: #FFF;
	text-shadow: 2px 2px 3px #000;
	text-align: center;
	margin-top: 40px;
}

p {
	text-align: center;
	font-family: "Palatino Linotype", "Times New Roman", "Courier New", sans-serif;
	font-size: 15px;
	font-weight: bold;
}

a {
	margin-left: 80px;
	font-family: "Palatino Linotype", "Times New Roman", sans-serif;
	font-weight: bold;
	font-size: 12px;
	}

legend {
	text-align: center;
	font-family: "Palatino Linotype", "Times New Roman", sans-serif;
	font-weight: bold;
	padding: 3px;
	border: 1px solid #333
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	background:#DB9370; color:#fff; font:17px/21px Calibri, Arial, Helvetica, sans-serif; padding:0 10px; margin:-26px 0 0 -11px; font-weight:bold; border:1px solid #fff; border-color:#e5e5c3 #505014 #505014 #e5e5c3;}
}

ul {
	list-style:none;
}

li{
padding: 0 0 5px;
}

input {
	font-family: "Palatino Linotype", "Times New Roman", sans-serif;
}

fieldset {
	font-size: 18px;
	color: #DB9370;
	background-image: linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -o-linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -moz-linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -webkit-linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -ms-linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.08, rgb(235,230,235)),
		color-stop(0.54, rgb(245,245,240))
	);
	border-radius: 14px; 	
	-moz-border-radius: 14px; 
	-webkit-border-radius: 14px; 
	border: 2px solid #89AFB0;
}

.textInput {
	background-image: linear-gradient(bottom, rgb(173,173,173) 1%, rgb(242,242,242) 51%);
	background-image: -o-linear-gradient(bottom, rgb(173,173,173) 1%, rgb(242,242,242) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(173,173,173) 1%, rgb(242,242,242) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(173,173,173) 1%, rgb(242,242,242) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(173,173,173) 1%, rgb(242,242,242) 51%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(173,173,173)),
		color-stop(0.51, rgb(242,242,242))
	);
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border: 1px solid #800000;
	padding: 4px;
}


#submit {
	background-image: linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -o-linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -moz-linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -webkit-linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -ms-linear-gradient(bottom, rgb(235,230,235) 8%, rgb(245,245,240) 54%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.08, rgb(235,230,235)),
		color-stop(0.54, rgb(245,245,240))
	);
	border-radius: 16px; 
	
	-moz-border-radius: 16px; 
	
	-webkit-border-radius: 16px; 
	
	border: 1px solid #800000;
}