/*	Robert Cody Farrah
	VFW Project 2
	Term 1111
*/

html {
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center center fixed;
	        -webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        background-size: cover;
	 letter-spacing: .01px;	
}
body {
	font-family: Redressed, "Palatino Linotype", "Times New Roman", "Courier New", sans-serif;
	font-size: 14px;
	margin-left: 30px;
}

h1 {
	font-family: Redressed, "Palatino Linotype", "Times New Roman", sans-serif;
	font-weight: bold;
	font-size: 35px;
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
}

h2 {
	font-family: Redressed, "Palatino Linotype", "Times New Roman", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
}

p {
	font-family: "Palatino Linotype", "Times New Roman", "Courier New", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
}

a {
	font-family: "Palatino Linotype", "Times New Roman", sans-serif;
	font-weight: bold;	
}

legend {
	font-family: "Palatino Linotype", "Times New Roman", sans-serif;
	font-weight: bold;
}

ul {
	font-family: "Palatino Linotype", "Times New Roman", sans-serif;
	font-weight: bold;
	text-shadow: 4px 4px 4px #000;
}

input {
	font-family: "Palatino Linotype", "Times New Roman", sans-serif;
}

div a {
	text-decoration: none;
}